language: node_js
node_js:
- '10'
- '8'
- '6'
sudo: false
script: npm test
jobs:
  include:
  - stage: npm release
    node_js: '10'
    deploy:
      provider: npm
      email: fredericcharette@gmail.com
      api_key:
        secure: LeWowKy1A0KIOz3Igq8WNoDxqrhguENWMtNUPSvdf2Un9PA8CDho3f7+SkaN7l74kFQxdKZGRNyC2D9r354wq3RSgGS2xUgKwv1nv/r7FR/oqlAfc8kNXVzf7IKItw9aUJbUuhCRi4qNdtrfcdUGmB8oNJ6NxlcQA2BigLGzmxO1zho0byqdKjmnrcAMYYRN8+hbn+YCnRuSpQP6fsh8oEhm4YWH19yk6l3rJfEjBD0Mv8GcGjxVCzEUmGov+cCIcjECka5UqoVrkoB4q6vC8ZpwR7h5aPS8yoX69+wKrj2MGdCz096d2pTXfwu170C+Ass5yRBa0CY5hfMhL5UwOf6u4tHF4VhaQ561oQo+XINKC7JP7LRnag79ToHJgThOUNBj2OOBCtZ60MqtqVJzOd5bx0wXF643MZfTZkVq3Kmy5Dnr90SrHeboN6qksw4fDBpp01sgWLnXT/ZuuC509PVyt74H/7lyrSkJxK7o4xzFihsqoaIXsPAqbtZvSS4mrJ1zO/LI1LYDDmlrxQ5sXcehCkPYylcgVyJMLZWWXMLU162ym66BsljwNjLzoVt5XOsLjJ7C6inY90hlgWpBJn35iUAP2Q5ZNLuJMUygmCaT8sH0fN7COaDCPoC0oHA3gEvPmd2NyhfkLuxNdQeiq7Y72K/ahX4poNCXVrbXntI=
    if: branch = master
